
@{
    ViewBag.Title = "Homepage";
}
@{
    var user = Session["login"] as RentACar.WebUI.ViewModels.MySessionModel;
}
<center><h2>Hoşgeldiniz @user.NameSurname</h2></center>


<div class="row tile_count">
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-automobile"></i> Otomobil Sayısı</span>
        <div class="count">@user.CarCount</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-bicycle"></i> Motosiklet Sayısı</span>
        <div class="count">0</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-truck"></i> Kamyonet Sayısı</span>
        <div class="count">0</div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-institution"></i> Şube Sayısı</span>
        <div class="count">@user.BranchCount</div>
    </div>
</div>